
### This script contains the following points:
Note: Corresponding steps for exercise task shown as (Step x)

#### 1. Importing libraries and defining project path.
#### 2a. Importing dataset 'orders_products_merged_3.pkl' (dataframe named 'ords_prods_merge')
#### 2b. Executing PLAN A to save memory on 'ords_prods_merge' - Changing datatypes 
#### 3a. Importing dataset 'customers_checked.pkl' (dataframe named 'df_customers')
#### 3b. Executing PLAN A to save memory on 'df_customers' - Changing datatypes 
#### 4. (Step 6) Merging 'df_customers' with 'ords_prods_merge'
#### 5. (Step 8) Export df_merged_large_3 as 'orders_products_all' as pkl file

## 1. Importing Libraries and Defining Project Path

In [1]:
# Importing pandas, numpy, and os
import pandas as pd
import numpy as np
import os

In [2]:
# Defining project folder path
path = r'C:\Users\prena\03-2023 Instacart Basket Analysis'

## 2a- 2b. Import dataset and dealing with memory errors - PLAN A ('orders_products_merged_3.pkl')

In [3]:
# Importing orders_products_merged_3.pkl dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_3.pkl'))

In [4]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32399731
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int64
 1   user_id                       int64
 2   order_number                  int64
 3   order_day_of_week             int64
 4   order_hour_of_day             int64
 5   days_since_last_order         float64
 6   product_id                    int64
 7   add_to_cart_order             int64
 8   reordered                     int64
 9   _merge                        category
 10  product_name                  object
 11  aisle_id                      int64
 12  department_id                 int64
 13  prices                        float64
 14  _merge_2                      category
 15  price_range_loc               object
 16  busiest_day                   object
 17  busiest_days                  object
 18  busiest_period_of_day         object
 19  max_order                     int64
 20  loyalty_flag                  object
 21  avg_price                     float64
 22  spend_flag                    object
 23  median_days_since_last_order  float64
 24  order_freq_flag               object
dtypes: category(2), float64(4), int64(11), object(8)
memory usage: 5.9+ GB

In [5]:
# Change types for ords_prods_merge data set

ords_prods_merge['order_id']= ords_prods_merge['order_id'].astype('int32')
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('int32')
ords_prods_merge['order_number']= ords_prods_merge['order_number'].astype('int8')
ords_prods_merge['order_day_of_week']= ords_prods_merge['order_day_of_week'].astype('int8')
ords_prods_merge['order_hour_of_day']= ords_prods_merge['order_hour_of_day'].astype('int8')
ords_prods_merge['days_since_last_order']= ords_prods_merge['days_since_last_order'].astype('float16')
ords_prods_merge['product_id'] = ords_prods_merge['product_id'].astype('int32')
ords_prods_merge['reordered']= ords_prods_merge['reordered'].astype('int8')
ords_prods_merge['add_to_cart_order']= ords_prods_merge['add_to_cart_order'].astype('int32')
ords_prods_merge['aisle_id'] = ords_prods_merge['aisle_id'].astype('int8')
ords_prods_merge['department_id'] = ords_prods_merge['department_id'].astype('int8')
ords_prods_merge['prices'] = ords_prods_merge['prices'].astype('float16')

In [6]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32399731
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int8
 3   order_day_of_week             int8
 4   order_hour_of_day             int8
 5   days_since_last_order         float16
 6   product_id                    int32
 7   add_to_cart_order             int32
 8   reordered                     int8
 9   _merge                        category
 10  product_name                  object
 11  aisle_id                      int8
 12  department_id                 int8
 13  prices                        float16
 14  _merge_2                      category
 15  price_range_loc               object
 16  busiest_day                   object
 17  busiest_days                  object
 18  busiest_period_of_day         object
 19  max_order                     int64
 20  loyalty_flag                  object
 21  avg_price                     float64
 22  spend_flag                    object
 23  median_days_since_last_order  float64
 24  order_freq_flag               object
dtypes: category(2), float16(2), float64(2), int32(4), int64(1), int8(6), object(8)
memory usage: 3.7+ GB

In [7]:
ords_prods_merge['max_order'] = ords_prods_merge['max_order'].astype('int8')
ords_prods_merge['avg_price'] = ords_prods_merge['avg_price'].astype('float16')
ords_prods_merge['median_days_since_last_order'] = ords_prods_merge['median_days_since_last_order'].astype('float16')

In [8]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32399731
Data columns (total 25 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int8
 3   order_day_of_week             int8
 4   order_hour_of_day             int8
 5   days_since_last_order         float16
 6   product_id                    int32
 7   add_to_cart_order             int32
 8   reordered                     int8
 9   _merge                        category
 10  product_name                  object
 11  aisle_id                      int8
 12  department_id                 int8
 13  prices                        float16
 14  _merge_2                      category
 15  price_range_loc               object
 16  busiest_day                   object
 17  busiest_days                  object
 18  busiest_period_of_day         object
 19  max_order                     int8
 20  loyalty_flag                  object
 21  avg_price                     float16
 22  spend_flag                    object
 23  median_days_since_last_order  float16
 24  order_freq_flag               object
dtypes: category(2), float16(4), int32(4), int8(7), object(8)
memory usage: 3.2+ GB

In [9]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spend_flag,median_days_since_last_order,order_freq_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,both,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,both,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,both,...,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,both,...,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer

## 3a- 3b. Importing dataset and dealing with memory errors - PLAN A ('customers_checked.pkl')

In [10]:
# Importing customers_checked.pkl dataset
df_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_checked.pkl'))

In [11]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  int64
 1   gender            206209 non-null  object
 2   state             206209 non-null  object
 3   age               206209 non-null  int64
 4   date_joined       206209 non-null  object
 5   dependants_count  206209 non-null  int64
 6   fam_status        206209 non-null  object
 7   income            206209 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

In [12]:
df_customers['age'] = df_customers['age'].astype('int8')
df_customers['dependants_count'] = df_customers['dependants_count'].astype('int8')

In [13]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  int64
 1   gender            206209 non-null  object
 2   state             206209 non-null  object
 3   age               206209 non-null  int8
 4   date_joined       206209 non-null  object
 5   dependants_count  206209 non-null  int8
 6   fam_status        206209 non-null  object
 7   income            206209 non-null  int64
dtypes: int64(2), int8(2), object(4)
memory usage: 9.8+ MB

In [14]:
df_customers['user_id'] = df_customers['user_id'].astype('int32')

In [15]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  int32
 1   gender            206209 non-null  object
 2   state             206209 non-null  object
 3   age               206209 non-null  int8
 4   date_joined       206209 non-null  object
 5   dependants_count  206209 non-null  int8
 6   fam_status        206209 non-null  object
 7   income            206209 non-null  int64
dtypes: int32(1), int64(1), int8(2), object(4)
memory usage: 9.0+ MB

In [16]:
df_customers.head()

,user_id,gender,state,age,date_joined,dependants_count,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

#### Note: Attempted to change "income" to int32, but the data came back with negative numbers so reverted it back to original data type.

## 4. (Step 6) Merging 'df_customers' with 'ords_prods_merge'

In [17]:
df_customers.shape

(206209, 8)

In [18]:
ords_prods_merge.shape

(32399732, 25)

In [19]:
# Inner join merge 'ords_prods_merge' with 'df_customers'
df_merged_large_3 = ords_prods_merge.merge(df_customers, on = 'user_id', indicator = '_merge_3')

In [20]:
df_merged_large_3.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,...,median_days_since_last_order,order_freq_flag,gender,state,age,date_joined,dependants_count,fam_status,income,_merge_3
0,2539329,1,1,2,8,NaN,196,1,0,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,both,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

In [21]:
# Check the frequency of the merge
df_merged_large_3['_merge_3'].value_counts()

both          32399732
left_only            0
right_only           0
Name: _merge_3, dtype: int64

In [22]:
df_merged_large_3.shape

(32399732, 33)

In [23]:
df_merged_large_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32399732 entries, 0 to 32399731
Data columns (total 33 columns):
 #   Column                        Dtype
---  ------                        -----
 0   order_id                      int32
 1   user_id                       int32
 2   order_number                  int8
 3   order_day_of_week             int8
 4   order_hour_of_day             int8
 5   days_since_last_order         float16
 6   product_id                    int32
 7   add_to_cart_order             int32
 8   reordered                     int8
 9   _merge                        category
 10  product_name                  object
 11  aisle_id                      int8
 12  department_id                 int8
 13  prices                        float16
 14  _merge_2                      category
 15  price_range_loc               object
 16  busiest_day                   object
 17  busiest_days                  object
 18  busiest_period_of_day         object
 19  max_order                     int8
 20  loyalty_flag                  object
 21  avg_price                     float16
 22  spend_flag                    object
 23  median_days_since_last_order  float16
 24  order_freq_flag               object
 25  gender                        object
 26  state                         object
 27  age                           int8
 28  date_joined                   object
 29  dependants_count              int8
 30  fam_status                    object
 31  income                        int64
 32  _merge_3                      category
dtypes: category(3), float16(4), int32(4), int64(1), int8(9), object(12)
memory usage: 4.5+ GB

## 5. (Step 8) Export df_merged_large_3 as 'orders_products_all' as pkl file

In [24]:
# Exporting to pickle file 'orders_products_all'
df_merged_large_3.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_all.pkl'))